# macOS
.DS_Store

# Xcode user state
xcuserdata/
*.xcuserstate
*.xcscmblueprint
*.xccheckout

# Build products
DerivedData/
build/
*.ipa
*.dSYM.zip
*.dSYM

# Swift Package Manager
.build/
Packages/

# JetBrains IDE
.idea/

# 組み立て用の中間ファイル
docs/previews/renders.html
